In [ ]:
pip install pymysql pandas

Requirement already satisfied: pymysql in /usr/local/lib/python3.11/dist-packages (1.1.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
# Step 1: Install MySQL Server
!apt-get update
!apt-get install -y mysql-server

# Step 2: Start the MySQL service
!service mysql start

# Step 3: Set up a sample MySQL database and user
!mysql -e "CREATE DATABASE colab_db;"  # Create a new database named 'colab_db'
!mysql -e "CREATE USER 'colab_user'@'localhost' IDENTIFIED BY 'password';"  # Create a new user
!mysql -e "GRANT ALL PRIVILEGES ON colab_db.* TO 'colab_user'@'localhost';"  # Grant all privileges to the user
!mysql -e "FLUSH PRIVILEGES;"  # Refresh privileges

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:3 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Hit:4 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:5 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:6 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Hit:7 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:8 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [127 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [3,255 kB]
Fetched 3,639 kB in 5s (703 kB/s)
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
mysql-server is already the newest version (8.0.42-0ubuntu0.22.04.1).
0 upgraded, 0 newly installed, 0 to remove and 91 not upgraded.
 * Starting MySQL database server mysqld
   ...done.
ERROR 1007 (HY000) at line 1: Can't create database 'colab_db'; database exists
ERROR 1396 (HY000) at line 1: Operation CREATE USER failed for 'colab_user'@'localhost'

In [ ]:
# Step 4: Python code to connect to the MySQL server
import pymysql

try:
    # Connect to the MySQL server running in Colab
    connection = pymysql.connect(
        host='127.0.0.1',
        port=3306,
        user='colab_user',  # User created earlier
        password='password',  # Password created earlier
        database='colab_db'  # Database created earlier
    )
    print("Connected to the database!")

    # Step 5: Create a cursor to execute queries
    cursor = connection.cursor()

    # Example: Create a table
    cursor.execute("CREATE TABLE IF NOT EXISTS users (id INT, name VARCHAR(255))")
    print("Table created or already exists.")

    # Example: Insert data into the table
    cursor.execute("INSERT INTO users (id, name) VALUES (1, 'John Doe')")
    connection.commit()
    print("Data inserted!")

    # Example: Query data from the table
    cursor.execute("SELECT * FROM users")
    results = cursor.fetchall()
    print("Query Results:", results)

except pymysql.MySQLError as e:
    print("Error:", e)

finally:
    if connection:
        connection.close()
        print("Connection closed.")

Connected to the database!
Table created or already exists.
Data inserted!
Query Results: ((1, 'John Doe'),)
Connection closed.

In [ ]:
try:
    # Connect to the MySQL server running in Colab
    connection = pymysql.connect(
        host='127.0.0.1',
        port=3306,
        user='colab_user',  # User created earlier
        password='password',  # Password created earlier
        database='colab_db'  # Database created earlier
    )
    print("Connected to the database!")

    cursor = connection.cursor()

    cursor.execute("CREATE TABLE IF NOT EXISTS products (product_id INT Primary Key, product_name VARCHAR(255), price DECIMAL(10, 2))")
    print("Table created or already exists.")

    cursor.execute("CREATE TABLE IF NOT EXISTS categories (category_id INT Primary Key, category_name VARCHAR(255))")
    print("Table created or already exists.")

    cursor.execute("CREATE TABLE IF NOT EXISTS product_categories (product_id INT, category_id INT, FOREIGN KEY (product_id) REFERENCES products(product_id), FOREIGN KEY (category_id) REFERENCES categories(category_id))")

except pymysql.MySQLError as e:
    print("Error:", e)

finally:
    if connection:
        connection.close()
        print("Connection closed.")

Connected to the database!
Table created or already exists.
Table created or already exists.
Connection closed.

# Hands On Activity! SQL in Python!!

### **Exercise 1: Create Tables**

1. Create a table named `products` with the following columns:

   * `product_id`: INT (Primary Key)
   * `product_name`: VARCHAR(255)
   * `price`: DECIMAL(10, 2)

2. Create a table named `categories` with the following columns:

   * `category_id`: INT (Primary Key)
   * `category_name`: VARCHAR(255)

3. Create a table named `product_categories` to represent the many-to-many relationship between `products` and `categories`:

   * `product_id`: INT (Foreign Key)
   * `category_id`: INT (Foreign Key)

---

### **Exercise 2: Insert Data**

1. Insert at least 5 products into the `products` table with various prices.
2. Insert at least 3 categories into the `categories` table.
3. Associate each product with one or more categories in the `product_categories` table.

---

### **Exercise 3: Write Queries**

1. Retrieve all products with their prices.
2. Retrieve all categories and their associated products.
3. Find the most expensive product in each category.
4. Calculate the total number of products in each category.
5. Find categories that donâ€™t have any products.

---

### **Exercise 4: Modify Data**

1. Update the price of a specific product.
2. Delete a product and ensure its relationships in `product_categories` are also removed.

---

### **Exercise 5: Advanced Queries**

1. Write a query to find the top 3 most expensive products.
2. Retrieve products with prices above the average product price.
3. Create a stored procedure to add a new product along with its category associations.